# Archivos y carpetas de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Entornos virtuales
venv/
env/
.venv/
.env/

# Archivos de configuración de tu IDE
.vscode/
.idea/

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de log y de caché
*.log
*.cache
*.bak
*.swp

# Archivos específicos de MacOS
.DS_Store

# Archivos de Excel o CSV generados que no necesitas versionar
*.xlsx
*.csv

# Streamlit credentials (en caso de estar usando)
.streamlit/secrets.toml

# Dependencias generadas
export.xlsx
